.tool-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  height: 25px;
  width: 25px;
  padding: 5%;
}

.drawing {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -20%);

}

.screen{
  position: absolute;
  background-color: #606060;
  width: 500px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  height: 25px;
  width: 25px;
  display: flex;
  position: relative;
  padding: 10%;
  align-items: center;
  transform: translateX(-50%) translateY(0%);
}

.output {
  padding-top: 115%;
  padding-left: 6%;
}

.popup {

}
